html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
#all{
    display:flex;
    justify-content: center;
    align-items:center;
    align-content:center;
    background-color:beige;
    overflow:hidden;
    height:100%;

}

#calculator{
    display:grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:minmax(100px, auto) repeat(5, 80px);
    background-color:black;
    border:10px solid rgb(128,128,128);
    border-radius:4px;
    gap:.25%;
}
button{
    margin: 1px;
    border-radius:1%;
    font-size:2em;
    font-family:sans-serif;
}
#display{
    grid-column: 1 / -1;
    background-color:rgb(211,211,211);
    border:2px solid black;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1.3px 1.3px grey;
    margin: 5px;

}
#Clear{
    grid-column:span 2;
}
.equals{
    grid-column:span 2;
}

.number{
    background-color:rgb(102,167,197);
    border-color:rgb(102,167,197);
}
.operator{
    background-color:rgb(238,50,51);
}
.decimal {
    background-color: rgb(163,214,245);
}
.equals{
    background-color: rgb(163,214,245);
}
#Clear{
    background-color: rgb(163,214,245);
}

